DATABASE_URL=postgresql://user:password@db:5432/f1_db

JWT_SECRET=XXXXXXXX
ACCESS_TOKEN_EXPIRE_MINUTES=1440

NEWS_API_KEY=XXXXXXXXX
NEWS_API_URL=https://newsapi.org/v2/everything

NEWS_SERVICE_URL=http://service-news:8000
STATS_SERVICE_URL=http://service-stats:8001
AUTH_SERVICE_URL=http://service-auth:8002

NEXT_PUBLIC_NEWS_SERVICE_URL=http://localhost:8000
NEXT_PUBLIC_STATS_SERVICE_URL=http://localhost:8001
NEXT_PUBLIC_AUTH_SERVICE_URL=http://localhost:8002

STATS_API_URL=https://api.jolpi.ca/ergast/f1
SCHEDULE_API_URL=https://api.openf1.org/v1
